<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/navbar.ejs') %>
    <div class="formError text-danger fs-5 text-center"></div>
    <form
      action="/changePassword/<%= user._id %>"
      method="POST"
      class="w-50 mx-auto"
    >
      <div class="mb-3">
        <label for="password" class="form-label">Current Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          required
        />
      </div>
      <div class="mb-3">
        <label for="newPassword" class="form-label">New Password</label>
        <input
          type="password"
          class="form-control"
          id="newPassword"
          name="newPassword"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
    <script>
      const form = document.querySelector("form");
      const isFormError = document.querySelector(".formError");
      form.addEventListener("submit", async (e) => {
        e.preventDefault();
        // reset errors
        isFormError.textContent = "";

        // get the values
        const password = form.password.value;
        const newPassword = form.newPassword.value;

        try {
          const res = await fetch("/changePassword/<%= user._id %>", {
            method: "POST",
            body: JSON.stringify({ password, newPassword }),
            headers: { "Content-Type": "application/json" },
          });
          const data = await res.json();
          console.log(data);
          if (data) {
            isFormError.textContent = data;
          }

          if (data.user) {
            isFormError.textContent = "";
            location.assign("/");
          }
        } catch (err) {
          console.log(err);
        }
      });
    </script>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
