<!DOCTYPE html>
    <%- include('partials/head.ejs') %> 
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  
      <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
          crossorigin="anonymous" />
      <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
          integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
          crossorigin="anonymous" />
 <style>
          @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  
          * {
              font-family: 'Poppins', sans-serif;
          }
  
          img {
              height: 300px !important;
          }
          html{
           
            scroll-behavior: smooth;
          }
          body {
              background: hsl(0, 0, 94%);
              
          }
          a{
            text-decoration: none;
            color: black;
          }

          
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(/img/934072.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
    padding-left: 1rem;
}

.home .content h2{
    font-size: 2.2rem;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: bold;
    text-shadow: 4px 4px black;
}
.navbar {
    background:#00704A;
}

.home .content p{
    font-size: 2.5rem;
    font-weight: italic;
    line-height: 1.1;
    padding:.01rem 0;
    color: #00704A;
    text-shadow: 2px 2px  black;

}

.home .content .btn {
    background-color: transparent;
    border-color: white;
    opacity: 100%;
    border-width: 5px;
    font-size: 25px;

}
.home .content .btn:hover{
    color: #00704A;
    background-color: whitesmoke;
    font-weight: bold;
}   

#cards{
 height: 420px;
}

#viewAllBooks {
    width: fit-content;
}
        </style>
    </head>
    
    <body>
        <%- include('partials/navbar.ejs') %> 
        <%- include('partials/userHead.ejs') %> 

        <!-- HOME section starts -->
<section class="home" id="home">
    <div class="content"><br><br>
        <h2>Meet your next Favorite Novel Book</h2>
        <br>
        <p> 100% Free Books Available </p>
        <br><br><br>
            <a href="/allBooks" class="btn text-success" id="ordernow"> Read Now</a>
    </div>
</section>

    <!-- HOME section ends -->
    <!-- <img src="img/library-shelves-banner-photo.jpg" class="img-fluid h-25 w-100" alt="..." style="position:relative "> -->

    <div class="container-fluid my-5">
      <h1 class="text-center fw-bold display-3 mb-5">Featured <span class="text-success">Categories</span></h1>
<div class="row">
          <div class="col-12 m-auto">
              <div class="owl-carousel owl-theme">
                <%  if(categories.length > 0) { %> <% categories.forEach(category => { %>
                  <div class="item mb-4">
                    <a href="/categories/<%= category.name %>">
                      <div class="card border-0 shadow">
                       
                        <img src="uploads/<%= category.image %>" alt="" class="card-img-top">
                          <div class="card-body">
                              <div class="card-title text-center">
                                  <h4><%= category.name %> </h4>
                              </div>
                              
                          </div>
                      </div>
                    </a>
                  </div>
                  <% }) %> <%}else { %>
                    <h1>Cant fetch data</h1>
                    <% } %>
              </div>
          </div>
      </div>
     
      <h1 class="text-center fw-bold display-3 mb-5 mt-5">New Releases <span class="text-success">Books</span></h1>
      <div class="row">
      
                <div class="col-12 m-auto">
                    <div class="owl-carousel owl-theme">
                      <%  if(books.length > 0) { %> <% books.forEach(book => { %>
                        <a href="/books/<%= book._id %>">
                        <div class="item mb-4">
                            <div id="cards" class="card border-0 shadow ">
                             
                                <img src="uploads/<%= book.image %>" alt="" class="card-img-top">                                <div class="card-body">
                                    <div class="card-title text-center">
                                        <h4><%= book.title %> </h4>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </a>
                        <% }) %> <%}else { %>
                          <h1>Cant fetch data</h1>
                          <% } %>
                    </div>
                </div>
                <a href="/allBooks" class="btn btn-success mx-auto my-2 mt-5 mb-5 strong" id="viewAllBooks"> 📚 View All Books</a>
            </div>
       
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"></script>
  <script>
      $('.owl-carousel').owlCarousel({
          loop: false,
          margin: 15,
          nav: true,
          responsive: {
              0: {
                  items: 1
              },
              600: {
                  items: 3
              },
              1000: {
                  items: 5
              }
          }
      })
  </script>
    <%- include('partials/footer.ejs') %> 
  </body>
</html>
